/* MY specific styles */

#story-title { 
	font-size:large;
	text-align: center;
}

#fixed-font {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}
#Energy {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Health {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Nutrition {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#WillPower {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Perversion {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Femininity {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Toxicity {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#Hormones {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px
}

#ui-bar {
	padding: 0 0 0 0;
}

#ui-bar header {
	text-align: left;
}
#ui-bar-body>:not(:first-child) {
	margin-top: 0.5em;
}

#menu {
	position: absolute;
	bottom: 10px;
	width: 215px;
}

#story-caption {
	padding: 0;
	text-align: left;
}

#story-author {
	display:none;
}

input[type="text"] {
	min-width: 10em;
}


#score-table table, td {
	  padding: 1px 5px 1px 5px;
	  text-align: left;
}

.storeButton button {
	width: 80px; !important;
	color: White;
	background-color: CornflowerBlue;
	font-size: smaller;
	border-radius: 12px;
	padding: 4px;
}

.disabledStoreButton button {
	width: 80px; !important;
	opacity: 0.6;
	cursor: not-allowed !important;
	color: White;
	background-color: CornflowerBlue;
	font-size: smaller;
	border-radius: 12px;
	padding: 4px;
}

.wardrobeButton button {
	width: 80px; !important;
	color: White;
	background-color: CornflowerBlue;
	font-size: smaller;
	border-radius: 12px;
	padding: 4px;
}

.disabledWardrobeButton button {
	width: 80px; !important;
    opacity: 0.6;
    cursor: not-allowed !important;
	color: White;
	background-color: CornflowerBlue;
	font-size: smaller;
	border-radius: 12px;
	padding: 4px;	
}


.cmdButton button {
	width: 140px; !important;
	color: White;
	background-color: SlateGrey;
	font-size: smaller;
	padding: 4px;
}

.cmdDisabledButton button {
	opacity: 0.6; 
  cursor: not-allowed !important;
	width: 140px; !important;
	color: White;
	background-color: SlateGrey;
	font-size: smaller;
	padding: 4px;
}

.passage {
	line-height: 1.50;
	text-align: left;
}
.passage-in {
	opacity: 0;
}
.passage ul, .passage ol {
	margin-left: 0.5em;
	padding-left: 1.5em;
}
.passage table {
	margin: 0;
	border-collapse: collapse;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;	
}
.passage tr, .passage th, .passage td, .passage caption {
	line-height: 1.0; !important;
	padding: 2px 3px 2px 3px; !important;
}

#miniMap {
	position:relative;
	width: 800px;
	height: 566px;
}

#mapId {
	z-index: 10;
	position: relative;
}

#mapIcon {
	z-index: 20;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
}
