div.npcSliderClass {
    width: 130px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    top: -3px;
}

div.npcSliderWidget {
    margin-right: 5px;
    display: inline-block;
}

div.npcWorkshopLabel {
    font-size: smaller;
    font-weight: bold;
    color: yellow;
    display: inline-block;
    width: 90px;
    overflow: hidden;
    height: 20px;
}

div.npcWorkshopValue {
    font-size: smaller;
    font-weight: bold;
    color: yellow;
    display: inline-block;
    width: 35px;
    overflow: hidden;
    text-align: right;
}

div.npcWorkshopHeader {
    width:100%;
    margin-bottom:10px;
    padding-left:20px;
    font-weight:bold;
    color:white;
}

#npcGeneralHeader {
    background-color: maroon;
    display:inline-block;
    width: 580px;
}

#npcEquipHeader {
    background-color: steelblue;
    display:inline-block;
    width: 580px;
}

span.npcExitLink {
    float: right;
    margin-right: 50px;
}

span.npcExitLink a {
    color:white !important;
}

select.NPCDropDown {
    width: 190px;
}

div.NPCDropDown {
    margin-bottom: 10px;
}