div.tcard {
    width: 150px;
    height: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
}

.tcard1 {  background-image: [img[01_Magician]];  }
.tcard2 {  background-image: [img[02_Popess]];  }
.tcard3 {  background-image: [img[03_Empress]];  }
.tcard4 {  background-image: [img[04_Emperor]];  }
.tcard5 {  background-image: [img[05_Pope]];  }
.tcard6 {  background-image: [img[06_Lovers]];  }
.tcard7 {  background-image: [img[07_Chariot]];  }
.tcard8 {  background-image: [img[08_Justice]];  }
.tcard9 {  background-image: [img[09_Hermit]];  }
.tcard10 {  background-image: [img[10_WheelOfFortune]];  }
.tcard11 {  background-image: [img[11_Strength]];  }
.tcard12 {  background-image: [img[12_HangedMan]];  }
.tcard13 {  background-image: [img[13_Death]];  }
.tcard14 {  background-image: [img[14_Temperance]];  }
.tcard15 {  background-image: [img[15_Devil]];  }
.tcard16 {  background-image: [img[16_Tower]];  }
.tcard17 {  background-image: [img[17_Star]];  }
.tcard18 {  background-image: [img[18_Moon]];  }
.tcard19 {  background-image: [img[19_Sun]];  }
.tcard20 {  background-image: [img[20_Judgement]];  }
.tcard21 {  background-image: [img[21_World]];  }
.tcard22 {  background-image: [img[22_Fool]];  }
